<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.VideoMapper">

  <select id="queryByReleaseTime" resultType="com.baizhi.po.VideoPO">
        select
            c.cate_name cateName,
            v.id,v.title,v.description,v.video_path videoPath,v.cover_path coverPath,
            v.upload_time uploadTime,v.category_id categoryId,v.group_id groupId,v.user_id userId,
            u.head_img headImg
        from yx_category c
        right join yx_video v  on c.id=v.category_id
        left join yx_user u on v.user_id=u.id
        order by v.upload_time desc
    </select>


</mapper>